* {
    box-sizing: border-box;
    /* background-color: rgba(255, 255, 255, 0.8); */
    font-family: Arial, Helvetica, sans-serif;
    /* color: rgba(50, 50, 50, 0.0); */
}

.carousel-title,
.carousel-description,
.carousel-read {
    color: black;
}